<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InteleApiCustomerId" value="" />
    <add key="InteleApiPassword" value="" />
    <add key="SmsMessageCustomData" value="" />
    <add key="SmsDefaultGateway" value="99700999" />
    <add key="SmsDefaultOriginatorAddress" value="MyCompany" />
    <add key="SmsDRUrl" value="https://yourhostname.com/Sms/Dr?msgid=[$MSGID]&amp;status=[$STATUS]&amp;timestamp=[$TIMESTAMP]&amp;gateway=[$GATEWAY]&amp;mnc=[$MNC]&amp;mcc=[$MCC]" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--
    Full documentation
    https://kunde.intele.no/files/SMS_Gateway_Implementation_Guide.pdf
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Nrdb Lookup ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Nrdb Lookup ServiceSoap1" />
        <binding name="NumberplanPublicSoap">
          <security mode="Transport" />
        </binding>
        <binding name="NumberplanPublicSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Nrdb Lookup ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="NumberplanPublicSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="SMSGatewaySoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://services.intele.no/nrdb/script.asmx" binding="basicHttpBinding" bindingConfiguration="Nrdb Lookup ServiceSoap" contract="NrdbService.NrdbLookupServiceSoap" name="Nrdb Lookup ServiceSoap" />
      <endpoint address="https://services.intele.no/nrdb/script.asmx" binding="customBinding" bindingConfiguration="Nrdb Lookup ServiceSoap12" contract="NrdbService.NrdbLookupServiceSoap" name="Nrdb Lookup ServiceSoap12" />
      <endpoint address="https://services.intele.no/numberplan/public.asmx" binding="basicHttpBinding" bindingConfiguration="NumberplanPublicSoap" contract="NumberplanService.NumberplanPublicSoap" name="NumberplanPublicSoap" />
      <endpoint address="https://services.intele.no/numberplan/public.asmx" binding="customBinding" bindingConfiguration="NumberplanPublicSoap12" contract="NumberplanService.NumberplanPublicSoap" name="NumberplanPublicSoap12" />
      <endpoint address="https://smsgw.intele.no/pushsms/script.asmx" binding="customBinding" bindingConfiguration="SMSGatewaySoap12" contract="SmsSoapApi.SMSgatewaySoap" name="SMSGatewaySoap12" />
    </client>
  </system.serviceModel>

</configuration>